@import './dropzone.css';
@import './font.css';
@import './footer.css';
@import './form.css';
@import './table.css';

/* 選択禁止 */
.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari用 */
}

/* 結果表示 */
.success {
  color: green;
}

.error {
  color: red;
}

/* ヘッダー */
header {
  display: flex;
}
header > :first-child {
  margin-right: auto;
}

/* Material Symbols & Icons */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
